---
// Importing necessary components and styles
import Meta from "@components/Meta.astro";
import Navbar from "@components/sections/Navbar.astro";
import FooterSection from "@components/sections/FooterSection.astro";
import ChatBot from "@components/ui/chat/ChatBot.astro";
import { SITE } from "@data/constants.ts";

// Import styles directly
import "../styles/global.css";

// Interface to type-check the properties
interface Props {
  title?: string;
  meta?: string;
  structuredData?: object;
  lang?: string;
}

// Setting expected props
const { title = SITE.title, meta, structuredData, lang = "en" } = Astro.props;
---

<!doctype html>
<html lang={lang} class="scrollbar-hide lenis lenis-smooth scroll-pt-16">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Adding metadata to the HTML document -->
    <Meta meta={meta} structuredData={structuredData} />
    <!-- Define the title of the page -->
    <title>{title}</title>

    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Global styles -->
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>

    <!-- Theme handling script -->
    <script is:inline>
      if (
        localStorage.getItem("hs_theme") === "dark" ||
        (!("hs_theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <!-- Netlify Identity Configuration -->
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          } else {
            // If user is already logged in and on admin page, stay there
            if (document.location.pathname.startsWith("/admin/")) {
              return;
            }
          }
        });

        window.netlifyIdentity.on("logout", () => {
          document.location.href = "/";
        });
      }
    </script>
  </head>
  <body
    class="bg-neutral-200 selection:bg-green-400 selection:text-neutral-700 dark:bg-neutral-800"
  >
    <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
      <Navbar />
      <main class="min-h-screen">
        <slot />
      </main>
    </div>
    <FooterSection />
    <ChatBot />
    <script>
      import "@scripts/lenisSmoothScroll.js";
    </script>
  </body>
</html>
